{% load staticfiles %}
<header>
<div id="menu">
<label id="menu"> 
<ul id="menu">
  <img src="{% static 'main/img/logo.png' %}" width="100px" height="100px">
  {% if user.is_authenticated %}
    <li><a href="{% url 'account:logout' %}">登出 ({{ user.username }})</a></li>
  {% else %}
    <li><a href="{% url 'account:login' %}">登入</a></li>
    <li><a href="{% url 'account:register' %}">註冊</a></li>
  {% endif %}
  <li><a href="{% url 'ContactUs:ContactUs' %}">聯絡我們</a></li>
  <li><a href="{% url 'Movie:detailview' %}">線上訂票</a></li>
  <li><a href="{% url 'Movie:MovieEquipment' %}">影城配備</a></li>
  <li><a href="{% url 'Movie:NEWS' %}">電影介紹</a></li>
  <li><a href="{% url 'main:main' %}">首頁</a></li>
</ul>
</label>
</div>
</header>