<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>電影介紹</title>
    <meta charset= "utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <center>
    <div id="moviepic">
      {% with 'main/img/'|add:MovieID|add:'.jpg' as staticImage %}
        <img src="{% static staticImage %}" alt="GLEN" width="400px" height="600px">
      {% endwith %}
    </div>
    <div id="boody">
      <br>
      <h2>{{ Movie }}</h2>
      <br>
      <p>{{ Movie.content }}</p>
    </div>
    </center>
  </body>
</html>