<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>FCM 影城</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <div class="jumbotron">
        <h1 style="text-align: center">線上訂票系統</h1>
    </div>

    <h3 style="text-align: center">當前電影信息</h3>

    <table id="tableA" class="table table-bordered"  "border:3px #cccccc solid;" cellpadding="10" border='1'>
        <thead>
        <tr>
            <th>電影编号</th>
            <th>電影名稱</th>
            <th>開播時間</th>
            <th>剩餘座位</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.num }}</td>
            <td>{{ ticket.name }}</td>
            <td>{{ ticket.time|date:"Y-m-d H:i" }}</td>
            <td>{{ ticket.seats }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'Movie:OrderTickets' %}">
      <p style="text-align: center">點擊進入訂票</p>
    </a>
    </body>
</html>